[project]
	description = initial publish
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/GituserSCM
[access "refs/for/refs/*"]
	read = group user/GituserSCM
	push = group user/GituserSCM
	label-Code-Review = -2..+2 group user/GituserSCM
	label-Verified = -1..+1 group user/GituserSCM
	rebase = group user/GituserSCM
	removeReviewer = group user/GituserSCM
	submit = group user/GituserSCM
[access "refs/heads/*"]
	read = group user/GituserSCM
	create = group user/GituserSCM
	push = +force group user/GituserSCM
	pushMerge = group user/GituserSCM
[access "refs/tags/*"]
	push = +force group user/GituserSCM
	pushTag = group user/GituserSCM
	pushSignedTag = group user/GituserSCM
